  body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #fff;
  }
  main { margin-left: 5px; margin-right: 5px; margin-bottom: 50px; padding: 20px; border-radius: 15px; background: #fff; box-shadow: 1.5px 1.5px 8px rgba(0,0,0,0.3); margin-top: 50px; animation: play 1s ease; }
  @keyframes play {
    from { margin-top: 700px; }
    to { margin-top: 50px; }
  }
  .atas {
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0; left: 0;
    font-size: 20px;
    background: #fff;
    z-index: 2;
    transform: translateX(140px);
  }
  .hamburger { display: none; }
  ul li { list-style: none; }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    max-width: 120px;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
    background: #f9f9f9;
    display: block;
  }
  .body {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    z-index: 0.5;
    transform: translateX(140px);
  }
  .menu a { color: #000; text-decoration: none; font-size: 20px; font-weight: bold; }
  footer { background: #f4f4f4; padding: 20px; } footer div { display: flex; gap: 20px; margin-top: 14px; } footer div > div > img { width: 32px; height: 32px; pointer-events: none; }
  .atas div + div { color: blue; margin-left: 0; }
  .content { margin: 8px; }
  @media (max-width: 768px) {
  .atas {
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0; left: 0;
    font-size: 20px;
    background: #fff;
    z-index: 2;
    transform: translatex(0);
  }
  .hamburger { cursor: pointer; transition: transform 0.2s ease-in-out; display: block; } .hamburger.showham { transform: rotate(90deg); }
  .hamburger:active, .atas:active { background: #f4f4f4; }
  .menu {
    position: fixed;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    font-size: 20px;
    z-index: 1;
    background: #f9f9f9;
    display: none;
    width: 100%;
    max-width: 100%;
  }
  .menu a { color: #000; text-decoration: none; font-size: 28px; font-weight: bold; } .menu.show { display: block; }
  ul li { list-style: none; }
  .body {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    z-index: 0.5;
    transform: translateX(0);
  }
    .atas div + div { color: blue; margin-left: 10px; }
  footer { background: #f4f4f4; padding: 20px; } footer div { display: flex; gap: 20px; margin-top: 14px; } footer div > div > img { width: 32px; height: 32px; pointer-events: none; }
  }
  .content { margin: 8px; }